.Cart-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    margin: 10px;
}